.header
  padding-top: 16px
  padding-bottom: 20px
  +rmin($screen-sm)
    padding-top: 10px
  p
    margin: 0
  &-center
    float: left
    text-decoration: none
    .logo-caption
      display: none
    +rmin($screen-sm)
      width: 126px
      display: none
      position: absolute
      left: 50%
      margin-left: -63px
      .logo-caption
        display: block
        font-size: 12px
        opacity: .56
  &-inner
    border-bottom: 1px solid #e6e6e6
    +rmin($screen-sm)
      padding-bottom: 0
    .header-center
      +rmin($screen-sm)
        display: block
        text-transform: uppercase
        width: 80px
        text-align: center
        margin-left: -40px
        top: 16px
        .logo
          margin: 0 auto
        .logo-caption
          margin-top: 2px
          display: none
      +rmin($screen-md)
        width: 230px
        margin-left: -115px
        top: 23px
        .logo-caption
          display: block
  &-left, &-right
    clear: both
    text-align: center
    margin: 10px 0
    +rmin($screen-sm)
      clear: none
      max-width: 320px
      width: 100%
  .icon-marker
    display: none
    +rmin($screen-sm)
      display: block
      margin-bottom: 10px
  &-left
    padding-top: 10px
    opacity: .5
    position: relative
    z-index: 2
    +rmin($screen-sm)
      float: left
      text-align: left
  &-right
    z-index: 2
    +rmin($screen-sm)
      float: right
      text-align: right
      padding-top: 10px
      position: relative
  .logo
    max-width: 70px
    +rmin($screen-sm)
      max-width: 126px
  .mobile-trigger-wrap
    margin-top: 12px
    position: relative
    z-index: 101
  .header-mail
    color: $color-red
    text-decoration: none
    display: block
    margin-top: -6px
    transition: all 0.3s
    &:hover
      color: black
  .popup-icons
    position: absolute
    right: 60px
    top: 3px
    text-align: center
    margin: 10px 0
    .popup-icon
      +rmin($screen-sm)
        width: 40px
        height: 40px
      +rmin($screen-md)
        width: 50px
        height: 50px
    +rmin($screen-sm)
      right: auto
      top: 10px
      left: 16px
      text-align: left
    +rmin($screen-md)
      left: -40px
      top: 1px
  .header-phone
    font-size: 24px
    text-decoration: none
    transition: all 0.3s
    +exo(600)
    &:hover
      color: $color-red
  +rmin($screen-sm)
    .mobile-trigger-wrap
      display: none

.main-nav
  clear: both
  z-index: 80
  position: relative
  +rmin($screen-sm)
    .inner
      +clr()
    a
      text-decoration: none
      transition: all 0.3s
      padding: 14px 40px 20px 0
      display: inline-block
      position: relative
      font-size: 15px
      &.active
        color: #ed1c24
        cursor: default
        pointer-events: none
      &:last-child:after
        display: none
      &:after
        content: ''
        position: absolute
        right: 20px
        top: 50%
        background-color: #e1e1e1
        width: 1px
        height: 16px
        margin-top: -12px
      &:hover
        color: $color-red
    .left
      float: left
    .right
      float: right
      text-align: right
      a
        padding-right: 0
        padding-left: 40px
        &:after
          right: auto
          left: 20px
        &:first-child:after
            display: none
        &:last-child:after
          display: block
    .left, .right
      position: relative
      &:before
        content: ''
        top: 0
        left: -102px
        background-color: #e6e6e6
        position: absolute
        width: 425px
        height: 1px
        +rmin($screen-md)
          left: -53px
    .right:before
      left: auto
      right: -102px
  +rmin($screen-md)
    a
      font-size: 18px
  +r($screen-sm)
    position: fixed
    left: 0
    top: 0
    z-index: 100
    width: 100%
    height: 100%
    background-color: rgba(black, 0.8)
    color: white
    text-align: center
    display: table
    opacity: 1
    visibility: hidden
    opacity: 0
    transition: visibility 0.3s, opacity 0.3s 0.1s
    &.active
      transition: visibility 0.3s, opacity 0.3s 0.1s
      visibility: visible
      opacity: 1
    .inner
      display: table-cell
      vertical-align: middle
    a
      font-weight: 600
      font-size: 20px
      display: block
      text-decoration: none
      padding: 20px 0
      text-transform: uppercase
      +exo(600)

.popup-icon
  border: 1px solid #d9d9d9
  border-radius: 50%
  width: 50px
  height: 50px
  position: relative
  transition: all 0.3s
  display: inline-block
  margin-left: 3px
  margin-right: 3px
  &:focus
    outline: none
  &:hover
    border-color: $color-red
  svg
    position: absolute
    margin: auto
    top: 0
    bottom: 0
    left: 0
    right: 0

.submenu
  background-color: #f8f8f8
  text-align: center
  margin-bottom: -20px
  +rmin($screen-sm)
    margin-bottom: 0
  .separator
    display: none
    +rmin($screen-md)
      display: block
      width: 100%
      height: 1px
      margin-top: -1px
      background-color: #ececec
  a
    display: inline-block
    width: 49%
    font-size: 15px
    text-align: center
    padding-left: 5px
    padding-right: 5px
    vertical-align: middle
    line-height: 1.3
    text-decoration: none
    padding: 20px 10px
    color: #484848
    transition: all 0.3s
    +rmin($screen-sm)
      display: inline-block
      width: auto
      padding-left: 10px
      padding-right: 10px
    +rmin($screen-md)
      padding-left: 20px
      padding-right: 20px
      font-size: 15px
      padding-bottom: 0
      &:hover, &.active
        span:after
          width: 100%
          opacity: 1
      span
        display: inline-block
        padding-bottom: 20px
        position: relative
        &:after
          content: ''
          position: absolute
          left: 50%
          opacity: 0
          bottom: 0
          width: 3px
          height: 3px
          background-color: $color-red
          transform: translateX(-50%)
          transition: all 0.3s
    +rmin(1500px)
      padding-left: 36px
      padding-right: 36px
      font-size: 17px
      position: relative
      &:nth-child(6),
      &:last-child
        &:after
          display: none
      &:after
        content: ''
        height: 16px
        top: 50%
        margin-top: -8px
        width: 1px
        height: 16px
        background-color: black
        opacity: .16
        position: absolute
        right: 0
    &:hover, &.active
      color: $color-red
