.block
  display: flex

.promo
  position: relative
  text-align: center
  padding: 10px 0 20px
  .container
    position: relative
  +rmin($screen-sm)
    min-height: 600px
  +rmin($screen-md)
    min-height: 950px
  &-svg
    position: absolute
    left: 50%
    transform: translateX(-74.7%)
    top: -128px
    width: 1000px
    // height: 764px
    display: none
    +rmin($screen-sm)
      display: block
    +rmin($screen-md)
      display: block
      top: -212px
      width: 1321px
    svg
      display: block
      width: 100%
      path
        stroke: #f10c28
        stroke-width: 1px
        fill: transparent !important
      &.finished
        path
          transition: all 0.3s
          fill: #f10c28 !important
          stroke: transparent !important
  &-logo
    transition: all 0.3s 0.3s
    display: none
    +rmin($screen-sm)
      margin-top: 30px
      display: block
    &-caption
      transition: all 0.3s 0.5s
      font-size: 13px
      text-transform: uppercase
      margin-top: 2px
      opacity: .6
  &-stand
    max-width: 260px
    margin: 10px auto 0
    display: none
    +rmin($screen-sm)
      display: block
      position: relative
      z-index: 1
      left: -25px
    +rmin($screen-md)
      max-width: 100%
      left: -40px
      margin-top: 34px
  &-content
    padding: 10px 0
    position: relative
    z-index: 2
    .button
      display: block
      margin: 8px auto
    +rmin($screen-sm)
      position: absolute
      text-align: left
      top: 156px
      right: 0
    +rmin($screen-md)
      top: 180px
      .button
        margin-left: 0
        margin-right: 0
    h1
      font-size: 35px
      font-weight: 600
      margin-top: 0
      text-transform: uppercase
      line-height: 1.25
      +rmin($screen-sm)
        font-size: 42px
      +rmin($screen-md)
        font-size: 55px
  .ground
    height: 272px
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    opacity: .6
    background: url(../images/graphic.jpg) no-repeat center
    display: none
    +rmin($screen-md)
      display: block

.navigation, .showcase-navigation
  +exo(500)
  font-size: 10px
  margin-bottom: 20px
  text-align: center
  &:focus
    outline: none
  +rmin($screen-sm)
    text-align: left
  a
    display: inline-block
    text-decoration: none
    color: #7b7b7b
    transition: color 0.6s
    padding: 6px
    padding-left: 0
    vertical-align: middle
    margin-left: 4px
    margin-right: 4px
    +rmin($screen-sm)
      display: block
    &:hover
      color: black
    &:before
      content: ''
      width: 22px
      height: 1px
      background-color: #000000
      display: inline-block
      vertical-align: middle
      margin-top: -3px !important
      width: 0
      margin-right: 0
      transition: all 0.3s
    &.active
      font-size: 20px
      color: black
      padding-top: 5px
      padding-bottom: 5px
      &:before
        width: 10px
        margin-right: 10px

.services-promo-slider
  max-width: 300px
  margin: 0 auto
  width: 100%
  position: relative
  z-index: 10
  text-align: center
  +rmin($screen-sm)
    text-align: left
    position: absolute
    left: 0
    top: 280px
  +rmin($screen-md)
    top: 300px
  .slide
    padding-bottom: 20px
    span
      display: block
      opacity: 0
      font-size: 18px
      transition: all 0.3s
      transform: translateY(10px)
      &.gray
        color: #2e2e2e
    &.slick-active
      .text-first, .text-second
        transition: all 0.3s
        opacity: 1
        transform: none
      .text-first
        transition-delay: 0.1s
      .text-second
        transition-delay: 0.4s

/* start services */
.services
  padding: 20px 0 60px
  text-align: center
  +rmin($screen-md)
    padding-top: 0
  .container
    max-width: 1500px
    width: auto

.service-item, .worktypes-item
  display: inline-block
  vertical-align: top
  margin: 30px 10px 0
  text-align: center
  width: 240px
  padding-bottom: 60px
  text-decoration: none
  width: 190px
  +rmin($screen-sm)
    width: 240px
    margin-left: 20px
    margin-right: 20px
  .arr-icon
    width: 30px
    height: 30px
    position: absolute
    bottom: 30px
    left: 50%
    margin-left: -15px
    &:after, &:before
      content: ''
      width: 5px
      height: 8px
      background-image: url(../images/arr-right.png)
      position: absolute
      margin: auto
      top: 0
      bottom: 0
      left: 0
      right: 0
      transition: all 0.3s
      z-index: 1
    &:before
      opacity: 1
    &:after
      opacity: 0
      background-image: url(../images/arr-right-hover.png)
    .circle
      box-shadow: 0 5px 2px rgba(234, 234, 234, 0.55)
      border: 1px solid #bdbdbd
      background-color: #ffffff
      transition: all 0.3s
      width: 30px
      height: 30px
      border-radius: 50%
      position: absolute
      left: 0
      top: 0
  .text
    font-size: 16px
    font-weight: 400
    line-height: 1.2
    transition: color 0.3s
    +rmin($screen-sm)
      font-size: 21px
  .icon
    width: 121px
    height: 121px
    margin: 0 auto 24px
    position: relative
    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 100%
      background-color: #f10c28
      transition: all 0.3s
      border-radius: 50%
    img
      position: absolute
      margin: auto
      left: 0
      right: 0
      top: 0
      bottom: 0
  &:hover
    .arr-icon:before
      opacity: 0
    .arr-icon:after
      opacity: 1
    .circle
      border: 1px solid #f21e38
      transform: scale(1.2)
    .icon:before
      transform: scale(1.1)
    .text
      color: #de0c14

/* end services */

/* start steps */
.steps
  text-align: center
  padding: 10px 30px
  background-color: #ededed
  +rmin($screen-sm)
    background: url(../images/steps-bg.jpg) center / cover
    padding-top: 40px
    padding-bottom: 60px

    .container
      max-width: 800px
  +rmin($screen-md)
    .container
      max-width: 1500px
      width: auto
.steps-item
  width: 240px
  display: inline-block
  vertical-align: top
  margin: 40px 10px
  position: relative
  .icon
    display: block
    width: 35px
    height: 35px
    margin: 0 auto
    position: relative
    img
      margin: auto
      top: 0
      bottom: 0
      left: 0
      right: 0
  &:last-child:before
    display: none
  &:before
    content: ''
    width: 45px
    height: 7px
    background-image: url(../images/arr-thin-right.png)
    position: absolute
    right: -40px
    top: 14px
    display: none
  h4
    font-size: 21px
    line-height: 1.19
    margin-bottom: 6px
    font-weight: 400
    margin-top: 10px
  p
    font-size: 18px
    line-height: 1.33
    line-height: 1.4
    margin-top: 0
    color: #2a2a2a
  .step-num
    font-size: 10px
    color: #ed1c24
    margin-top: 20px
    +exo(500)
  +rmin($screen-sm)
    min-height: 220px
    margin-left: 20px
    margin-right: 20px
    width: 230px
    .step-num
      position: absolute
      width: 100%
      text-align: center
      left: 0
      bottom: 0
  +rmin($screen-md)
    &:before
      display: block
/* end steps */

/* start packages */
.packages
  text-align: center
  padding: 30px 0 40px
  +rmin($screen-sm)
    padding-bottom: 80px
  .section-heading
    margin-bottom: 50px
  &-types
    background-color: #f7f7f7
    padding: 6px 0
    position: relative
    +rmin($screen-sm)
      padding-top: 26px
      padding-bottom: 26px
    +rmin($screen-md)
      .wrapper
        max-width: 560px
        margin: 0 auto
    +clr()
    .frame
      position: absolute
      width: 123px
      height: 142px
      background-image: url(../images/frame.png)
      top: -14px
      left: 0
      display: none
      z-index: 10
      +rmin($screen-sm)
        display: block
  &-tabs
    padding: 30px 0
    +rmin($screen-sm)
      display: inline-block
      width: 50%
      vertical-align: top
      margin-right: -4px
      padding: 0
    +rmin($screen-md)
      &:nth-child(1)
        .packages-types .wrapper,
        .packages-tabs-slider
          float: right
          width: 100%
          padding-right: 80px
      &:nth-child(2)
        .packages-types .wrapper,
        .packages-tabs-slider
          float: left
          width: 100%
          padding-left: 40px
  &-tabs-slider
    +rmin($screen-md)
      max-width: 580px
      margin: 0 auto
.package
  &-type
    float: left
    vertical-align: top
    width: 50%
    float: left
    margin: 20px 0
    text-align: center
    padding: 0
    background-color: transparent
    padding-top: 33px
    position: relative
    border: none
    color: #949494
    transition: all 0.3s
    cursor: pointer
    +rmin($screen-sm)
      width: 25%
      margin-top: 0
      margin-bottom: 0
    &:focus
      outline: none
    &:hover
      color: black
    &.active
      color: #000
      &:before
        border: 6px solid white
      &:after
        border: 2px solid #ed1c24
    &:before, &:after
      content: ''
      transition: all 0.3s
      top: 0
      width: 24px
      height: 24px
      left: 50%
      margin-left: -12px
      padding: 0
      position: absolute
      border: 12px solid white
      background-color: #f10c28
      box-sizing: border-box
      border-radius: 50%
    &:after
      border: 1px solid #959595
      background: none
      transition: border 0.1s
    +rmin($screen-sm)
      font-size: 15px
  &-details
    padding-top: 20px
    +rmin($screen-md)
      text-align: left
    h3
      +exo(400)
      font-size: 23px
      color: #010101
      transition: all 0.3s 0.3s
      +rmin($screen-sm)
        text-align: left
        padding-left: 20px
        font-size: 23px
      +rmin($screen-md)
        padding-left: 48px
  &-list
    list-style: none
    padding: 0
    margin: 0
    li
      font-size: 18px
      text-align: left
      font-weight: 400
      padding: 6px 0
      +rmin($screen-md)
        padding-left: 34px
      &:nth-child(2n+1)
        background-color: #fdf0f1
      span
        padding: 0 30px 0 50px
        text-align: center
        position: relative
        transition: all 0.3s
        &:before
          content: ''
          position: absolute
          left: 20px
          top: 50%
          margin-top: -5px
          width: 10px
          height: 10px
          background-image: url(../images/check.png)
  &-price-block
    width: 290px
    height: 50px
    line-height: 48px
    border: 1px solid #bdbdbd
    border-radius: 30px
    margin-top: 40px
    font-size: 15px
    text-align: center
    margin: 40px auto 0
    display: inline-block
    text-decoration: none
    position: relative
    transition: all 0.3s
    +rmin($screen-md)
      margin-left: 48px
      margin-right: auto
    &:hover
      border-color: $color-red
      &:before
        transition-delay: 0.1s
        opacity: 1
        transform: none
      .package-price,
      .package-period
        transition-delay: 0s
        opacity: 0
        transform: translateY(10px)
    &:before
      content: 'Заказать'
      position: absolute
      left: 0
      top: 0
      height: 100%
      text-align: center
      width: 100%
      font-size: 17px
      line-height: 48px
      color: $color-red
      transition: all 0.3s
      opacity: 0
      transform: translateY(-10px)
    +rmin($screen-sm)
      width: 300px
      margin-left: 0
      margin-right: 0
  &-price, &-period
    transition: all 0.3s 0.1s
    display: inline-block
  &-price
    color: $color-red
    padding-right: 24px
    position: relative
    &:after
      content: ''
      position: absolute
      right: 0
      top: 50%
      width: 1px
      height: 16px
      margin-top: -8px
      background-color: #d9d9d9
  &-period
    padding-left: 24px
    color: #6d6d6d
/* end packages */

/* start projects */
.projects
  background-color: #272727
  color: white
  text-align: center
  position: relative
  +clr()
  +rmin($screen-md)
    text-align: left
    display: table
    width: 100%
    &:before
      content: ''
      position: absolute
      bottom: 131px
      width: 100%
      left: 0
      background-color: #313131
      height: 1px
  &-images
    position: relative
    height: 400px
    overflow: hidden
    +rmin($screen-md)
      height: 100%
      width: 30%
      display: table-cell
    +rmin(1000px)
      width: 50%
  .image-wrapper
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    &.first
      z-index: 20 !important
    &.second
      z-index: 19 !important
    &.active
      transition: all 1s
      transform: scale(1.2)
      opacity: 0
  &-image
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
  .section-heading
    color: #ed1c24
    margin-bottom: 10px
    line-height: 1
    padding-bottom: 20px
    position: relative
    &:before
      content: ''
      left: 50%
      width: 50px
      margin-left: -25px
      height: 3px
      background-color: #767676
      bottom: 0
      position: absolute
      +rmin($screen-md)
        left: 20px
        margin-left: 0
    +rmin($screen-sm)
      padding-top: 30px
    +rmin($screen-md)
      font-size: 47px
      padding-bottom: 40px
      padding-left: 20px
      margin-bottom: 40px
  &-showcase
    padding-left: 10px
    padding-right: 10px
    position: relative
    padding-top: 40px
    max-width: 600px
    margin: 0 auto
    +rmin($screen-sm)
      margin: 0 auto
    +rmin($screen-md)
      display: table-cell
      padding: 0 100px 0 30px
      text-align: left
      .inner
        max-width: 510px
        float: left
    +rmin(1250px)
      padding-left: 110px
  &-name
    font-size: 21px
    line-height: 1.15
    font-family: Calibri, 'Calibri Custom', sans-serif
    font-weight: 400
    margin-bottom: 6px
  .slide
    &.slick-active
      .projects-name
        transition-delay: 0.3s
      .projects-address
        transition-delay: 0.6s
      .text
        transition-delay: 0.9s
        opacity: .7
        transform: none
      .button
        transition-delay: 1.2s
      .projects-address, .projects-name, .button
        opacity: 1
        z-index: 200
        transform: none
    +rmin($screen-md)
      padding-left: 20px
  .text, .projects-address, .projects-name, .button
    transition: all 0.4s
    opacity: 0
    transform: translateX(20px)
  .text
    line-height: 1.5
    font-size: 18px
    opacity: 0
    font-weight: 400
    +rmin($screen-md)
      min-height: 210px
  &-address
    font-weight: 400
    font-size: 18px
    margin-top: 0
    font-weight: 400
    color: #dbdbdb
    position: relative
    display: block
    +rmin($screen-md)
      &:before
        content: ''
        width: 11px
        height: 15px
        background-image: url(../images/marker.svg)
        position: absolute
        left: -20px
        top: 50%
        margin-top: -7px
  &-circles
    padding: 10px 0
    position: relative
    +rmin($screen-md)
      margin-top: 70px
  .showcase-navigation
    margin: 0 auto
    text-align: center
    +rmin($screen-md)
      position: absolute
      left: auto
      top: 76px
      right: 30px
    a:before
      background-color: #7d7d7d
    a
      color: #7d7d7d
    a.active
      color: white
  .button
    margin-top: 40px
    .icon
      margin-top: -4px
.projects-circle
  position: relative
  width: 65px
  height: 65px
  display: inline-block
  margin: 20px 6px
  opacity: 0
  transition: all 0.2s
  transform: translateX(10px)
  canvas
    position: absolute
    left: 0
    top: 0
  &.active
    opacity: 1
    transition: all 0.6s
    transform: none
  .wrap
    position: absolute
    width: 100%
    height: 100%
    text-align: center
    padding-top: 18px
    top: 0
    left: 0
  .num, .caption
    display: block
  .num
    font-size: 12px
    color: $color-red
  .caption
    opacity: .7
    font-size: 10px
    position: relative
    top: -2px
/* end projects */

/* start order-action */
.order-action
  background-color: #b70d13
  color: white
  padding: 30px 0 60px
  text-align: center
  .section-heading
    color: white
    margin-bottom: 0
    +rmin($screen-md)
      font-size: 39px
  p
    font-size: 19px
    margin-top: 10px
    opacity: .8
  .button
    margin-top: 40px
    position: relative
    cursor: pointer
    .icon
      position: absolute
      right: 34px
      top: 50%
      margin-top: -7px
/* end order-action */

/* start team */
.team
  text-align: center
  padding: 20px 0 50px
  &-slider
    position: relative
    +rmin($screen-sm)
      padding-top: 80px
  &-person
    height: 0
    padding-bottom: 70%
    +rmin($screen-md)
      height: 356px
      padding-bottom: 0
  &-person-info
    padding-top: 30px
  &-person-name, &-person-work
    transition: all 0.3s
    opacity: 0
    transform: translateY(10px)
  &-person-name
    font-size: 24px
    +rmin($screen-sm)
      font-size: 28px
  &-person-work
    font-size: 17px
    +rmin($screen-sm)
      font-size: 20px
  .slick-current
    .team-person-name,
    .team-person-work
      opacity: 1
      transform: none
    .team-person-name
      transition-delay: 0.3s
    .team-person-work
      transition-delay: 0.5s
    .team-person-work
      opacity: .7
  .svg-frame
    width: 782px
    position: absolute
    left: 50%
    top: 10px
    z-index: 10
    transform: translateX(-50%)
    display: none
    pointer-events: none
    +rmin(1200px)
      display: block
    svg
      transition: all 1s
      opacity: 0
      path
        fill: transparent !important
        stroke: #f10c28 !important
        transition: fill 0.3s
      &.showing
        opacity: 1
      &.finished
        path
         fill: #f10c28 !important
/* end team */
.arrows-container
  position: absolute
  width: 100%
  bottom: 18px
  left: 0
  padding-left: 10px
  padding-right: 10px
  display: none
  +rmin($screen-md)
    display: block
  .slider-arrows
    max-width: 904px
    margin: 0 auto
    +clr()
  .arr-left, .arr-right
    background-color: transparent
    padding: 0
    border: none
    position: relative
    z-index: 10
    cursor: pointer
    display: inline-block
    width: 181px
    height: 30px
    background: url(../images/arr-left-long.png) no-repeat center
    opacity: .4
    transition: all 0.3s
    float: left
    &:hover
      opacity: 1
    &.slick-disabled
      opacity: .3
      cursor: normal
    &:focus
      outline: none
  .arr-right
    float: right
    background-image: url(../images/arr-right-long.png)

/* start news */
.news
  text-align: center
  padding: 40px 0
  .container
    max-width: 1430px
    margin: 0 auto
    width: 100%
  &-item
    max-width: 300px
    margin: 40px auto
    text-align: left
    display: block
    text-decoration: none
    &:hover
      .news-item-title
        color: $color-red
    +rmin($screen-sm)
      display: inline-block
    &-title
      font-size: 20px
      font-weight: 400
      line-height: 1.4
      position: relative
      padding-bottom: 24px
      transition: all 0.3s
      &:before
        content: ''
        position: absolute
        background-color: #ed1c24
        bottom: 0
        left: 0
        width: 50px
        height: 3px
      +rmin($screen-sm)
        font-size: 23px
    &-text
      font-size: 15px
      line-height: 1.56
      opacity: .8
      +rmin($screen-sm)
        font-size: 18px
        height: 108px
        overflow: hidden
  .button
    margin-top: 30px
.date
  display: inline-block
  position: relative
  +exo(600)
  &:before
    content: ''
    background-color: #f10c28
    position: absolute
    width: 42px
    height: 42px
    border-radius: 50%
    top: 12px
    left: 17px
  &-month, &-day
    position: relative
    z-index: 1
    line-height: 1
  &-month
    font-size: 39px
    font-weight: 600
  &-day
    color: white
    margin-left: 36px
    margin-top: -7px
/* end news */

/* start map-wrapper */
.map-wrapper
  height: 300px
  position: relative
  +rmin($screen-sm)
    height: 367px
  .google-map
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
  &-large
    +rmin($screen-md)
      height: 670px
/* end map-wrapper */

/* start worktypes */
.worktypes
  text-align: center
  padding: 30px 0
  .container
    max-width: 1430px
    width: 100%
    margin: 0 auto
  &-item
    padding-bottom: 0
    margin: 30px 0
    +rmin($screen-sm)
      width: 280px
      margin-left: 0
      margin-right: -4px
    +rmin($screen-md)
      position: relative
      &:last-child
        &:after
          display: none
      &:after
        content: ''
        position: absolute
        top: 50%
        right: 0
        height: 86px
        width: 1px
        background-color: #e1e1e1
        margin-top: -63px

/* end worktypes */

.layout
  &-popups
    min-height: 1000px
  &-contact
    padding-top: 20px
/* start popup-styles */
.popup
  max-width: 910px
  position: relative
  background-color: white
  margin: 10px auto 0
  &-success
    .popup-header
      padding-bottom: 24px
    .popup-content
      text-align: center
      margin: 0 auto
      h4
        font-size: 19px
        font-weight: 400
        margin-bottom: 10px
        margin-top: 0
        +rmin($screen-sm)
          font-size: 26px
      p
        font-size: 17px
        line-height: 1.2
        font-weight: 300
        opacity: .9
        margin: 0
        +rmin($screen-sm)
          font-size: 21px
  +r(767px)
    h4
      font-size: 18px
    p
      font-size: 15px
      span
        display: block
  +r(767px)
    width: 95%
  &-close
    position: absolute
    top: 19px
    right: 22px
    z-index: 4
    width: 16px
    height: 16px
    background-color: transparent
    padding: 0
    border: none
    cursor: pointer
    transition: all 0.3s
    &:focus
      outline: none
    &:hover:before
      opacity: 0
    &:hover:after
      opacity: 1
    &:before, &:after
      content: ''
      opacity: 1
      background: url(../images/cross.png) no-repeat center
      left: 0
      top: 0
      width: 100%
      height: 100%
      transition: all 0.3s
      position: absolute
    &:after
      opacity: 0
      background-image: url(../images/cross-white.png)
  &:focus
    outline: none
  &:hover
    opacity: 1
  &-header
    background-color: #b70d13
    color: white
    text-align: center
    padding: 20px 10px 20px
    h3
      color: white
      font-size: 18px
      font-weight: 400
      margin-bottom: 0
      margin-top: 0
      +exo(600)
      +rmin($screen-sm)
        font-size: 39px
    p
      font-size: 15px
      font-weight: 400
      max-width: 550px
      margin: 4px auto
      span
        font-weight: 700
        margin-left: 4px
      +rmin($screen-sm)
        font-size: 19px
  &-content
    padding-top: 20px
    padding-bottom: 30px
    padding-left: 15px
    padding-right: 15px
    +rmin($screen-sm)
      padding: 36px 10px 58px
  &-form
    max-width: 720px
    margin: 0 auto
    .row
      margin-left: -5px
      margin-right: -5px
      > div
        padding-left: 5px
        padding-right: 5px
    &-bottom
      margin-top: 20px
      text-align: center
      position: relative
      .button
        display: block
        margin: 0 auto
    &-caption
      display: block
      margin-bottom: 20px
      font-size: 18px
      color: rgba(#232323, .6)
      display: inline-block
      position: relative
      &:before
        content: '*'
        position: absolute
        top: 0
        left: -12px
        color: #b70d13
        font-size: 16px

/* start input-block */
.input-block
    width: 100%
    border: 1px solid #d6d6d6
    box-sizing: border-box
    border-radius: 5px
    position: relative
    font-size: 15px
    margin: 5px 0
    display: table
    +r(767px)
        border: none
        margin: 16px 0
    span
        position: relative
        display: table-cell
        vertical-align: top
        width: 1%
        white-space: nowrap
        box-sizing: content-box
        left: 20px
        top: 0
        color: #2a3341
        height: 52px
        line-height: 53px
        font-size: 18px
        padding-right: 20px
        z-index: 1
        .required
            font-size: 16px
            font-style: normal
            color: #b70d13
            margin-left: 4px
        &:after
            content: ''
            position: absolute
            right: 0
            top: 11px
            height: 30px
            width: 1px
            background-color: #b3b3b3
        +r(767px)
            position: static
            display: block
            margin-bottom: 8px
            height: auto
            line-height: 1
            width: 100%
            &:after
                display: none
    +r(767px)
        border: none
    input, textarea
        height: 52px
        border: none
        display: table-cell
        vertical-align: top
        width: 100%
        box-sizing: border-box
        font-size: 15px
        padding-right: 16px
        padding-left: 30px
        border-radius: 20px
        background-color: transparent
        &:focus
            outline: none
        +r(767px)
            border: 1px solid #b2b2b2
            border-radius: 5px
            padding-left: 16px
            font-size: 14px
            display: block
    textarea
        resize: none
        vertical-align: top
        height: 108px
        padding-top: 17px
        +r(767px)
            padding-top: 8px
/* end input-block */

.contact-inner
  text-align: center
  padding-bottom: 40px
  .container
    max-width: 1400px
    width: 100%
  .button
    .icon
      margin-top: -1px
      img
        transition: all 0.3s
    &.active
      img
        transform: rotate(180deg)
.contact-group
  text-align: center
  padding-bottom: 30px
  position: relative
.contact-item
  display: inline-block
  margin: 30px 0
  text-align: center
  text-decoration: none
  text-align: center
  +rmin($screen-sm)
    margin: 10px 0
  h3
    font-size: 23px
    font-weight: 400
    line-height: 1.2
    font-weight: 400
    transition: color 0.3s
    +rmin($screen-sm)
      font-size: 21px
  .icon
    width: 60px
    height: 60px
    position: relative
    background-color: #f10c28
    transition: all 0.3s
    border-radius: 50%
    margin: 0 auto
    svg
      position: absolute
      margin: auto
      left: 0
      right: 0
      top: 0
      bottom: 0
      path
        fill: white
  h3
    font-size: 23px
    font-weight: 400
    padding-bottom: 20px
    margin-top: 16px
    position: relative
    &:after
      content: ''
      width: 100px
      height: 1px
      background-color: #d6d6d6
      position: absolute
      left: 50%
      bottom: 0
      margin-left: -50px
  p
    font-size: 18px
    margin-top: 4px
    margin-bottom: 4px

.mail
  color: #de0c14
  text-decoration: none

/* start requisites */
.requisites
  padding: 30px 0 20px
  text-align: center
  position: relative
  display: none
  &:before
    content: ''
    position: absolute
    width: 1300px
    height: 1px
    margin-left: -650px
    left: 50%
    top: 0
    background-color: #d4d4d4
  &-list
    padding: 0
    list-style: none
    max-width: 290px
    margin: 0 auto
    li
      margin: 12px 0
      line-height: 1.4
/* end requisites */
