.promo
  position: relative
  text-align: center
  padding: 10px 0 20px
  .container
    position: relative
  +rmin($screen-sm)
    min-height: 600px
  +rmin($screen-md)
    min-height: 950px
    margin-bottom: -50px
  &-svg
    position: absolute
    left: 50%
    transform: translateX(-74.7%)
    top: -128px
    width: 1000px
    // height: 764px
    display: none
    +rmin($screen-sm)
      display: block
    +rmin($screen-md)
      display: block
      top: -200px
      width: 1321px
    +rmin(1132px)
      top: -214px
    svg
      display: block
      width: 100%
      path
        stroke: #f10c28
        stroke-width: 1px
        fill: transparent !important
      &.finished
        path
          transition: all 0.3s
          fill: #f10c28 !important
          stroke: transparent !important
  &-logo
    transition: all 0.3s 0.3s
    display: none
    +rmin($screen-sm)
      margin-top: 30px
      display: block
    &-caption
      transition: all 0.3s 0.5s
      font-size: 13px
      text-transform: uppercase
      margin-top: 2px
      opacity: .6
  &-stand
    max-width: 260px
    margin: 10px auto 0
    display: none
    +rmin($screen-sm)
      display: block
      position: relative
      z-index: 1
      left: -25px
    +rmin($screen-md)
      max-width: 100%
      left: -40px
      margin-top: 34px
  &-content
    padding: 10px 0
    position: relative
    z-index: 2
    .button
      display: block
      margin: 8px auto
    +rmin($screen-sm)
      position: absolute
      text-align: left
      top: 156px
      right: 0
    +rmin($screen-md)
      top: 180px
      .button
        margin-left: 0
        margin-right: 0
    h1
      font-size: 35px
      font-weight: 600
      margin-top: 0
      text-transform: uppercase
      line-height: 1.25
      +rmin($screen-sm)
        font-size: 42px
      +rmin($screen-md)
        font-size: 55px
  .ground
    height: 272px
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    opacity: .6
    background: url(../images/graphic.jpg) no-repeat center
    display: none
    +rmin($screen-md)
      display: block

.navigation, .showcase-navigation
  +exo(500)
  font-size: 10px
  margin-bottom: 20px
  text-align: center
  &:focus
    outline: none
  +rmin($screen-sm)
    text-align: left
  a
    display: inline-block
    text-decoration: none
    color: #7b7b7b
    transition: color 0.6s
    padding: 6px
    padding-left: 0
    vertical-align: middle
    margin-left: 4px
    margin-right: 4px
    +rmin($screen-sm)
      display: block
    &:hover
      color: black
    &:before
      content: ''
      width: 22px
      height: 1px
      background-color: #000000
      display: inline-block
      vertical-align: middle
      margin-top: -3px !important
      width: 0
      margin-right: 0
      transition: all 0.3s
    &.active
      font-size: 20px
      color: black
      padding-top: 5px
      padding-bottom: 5px
      &:before
        width: 10px
        margin-right: 10px

.services-promo-slider
  max-width: 300px
  margin: 0 auto
  width: 100%
  position: relative
  z-index: 10
  text-align: center
  +rmin($screen-sm)
    text-align: left
    position: absolute
    left: 0
    top: 280px
  +rmin($screen-md)
    top: 300px
  .slide
    padding-bottom: 20px
    span
      display: block
      opacity: 0
      font-size: 18px
      transition: all 0.3s
      transform: translateY(10px)
      &.gray
        color: #2e2e2e
    &.slick-active
      .text-first, .text-second
        transition: all 0.3s
        opacity: 1
        transform: none
      .text-first
        transition-delay: 0.1s
      .text-second
        transition-delay: 0.4s

/* start services */
.services
  padding: 20px 0 60px
  text-align: center
  +rmin($screen-md)
    padding-top: 0
  .container
    max-width: 1500px
    width: auto

.service-item, .worktypes-item
  display: inline-block
  vertical-align: top
  margin: 30px 10px 0
  text-align: center
  width: 240px
  padding-bottom: 60px
  text-decoration: none
  width: 190px
  +rmin($screen-sm)
    width: 240px
    margin-left: 20px
    margin-right: 20px
  .arr-icon
    width: 30px
    height: 30px
    position: absolute
    bottom: 30px
    left: 50%
    margin-left: -15px
    &:after, &:before
      content: ''
      width: 5px
      height: 8px
      background-image: url(../images/arr-right.png)
      position: absolute
      margin: auto
      top: 0
      bottom: 0
      left: 0
      right: 0
      transition: all 0.3s
      z-index: 1
    &:before
      opacity: 1
    &:after
      opacity: 0
      background-image: url(../images/arr-right-hover.png)
    .circle
      box-shadow: 0 5px 2px rgba(234, 234, 234, 0.55)
      border: 1px solid #bdbdbd
      background-color: #ffffff
      transition: all 0.3s
      width: 30px
      height: 30px
      border-radius: 50%
      position: absolute
      left: 0
      top: 0
  .text
    font-size: 16px
    font-weight: 400
    line-height: 1.2
    transition: color 0.3s
    +rmin($screen-sm)
      font-size: 21px
  .icon
    width: 121px
    height: 121px
    margin: 0 auto 24px
    position: relative
    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 100%
      background-color: #f10c28
      transition: all 0.3s
      border-radius: 50%
    img
      position: absolute
      margin: auto
      left: 0
      right: 0
      top: 0
      bottom: 0
  &:hover
    .arr-icon:before
      opacity: 0
    .arr-icon:after
      opacity: 1
    .circle
      border: 1px solid #f21e38
      transform: scale(1.2)
    .icon:before
      transform: scale(1.1)
    .text
      color: #de0c14

/* end services */

/* start steps */
.steps
  text-align: center
  padding: 10px 10px
  background-color: #ededed
  .button
    max-width: 296px
    height: 58px
    line-height: 56px
    border-color: $color-red
    background-color: $color-red
    color: white
    margin-top: 60px
    margin-bottom: 50px
    +rmin($screen-sm)
      margin-bottom: 10px
    &:hover
      background-color: #272727
      border-color: #272727
      span
        color: white
  +rmin($screen-sm)
    background: url(../images/steps-bg.jpg) center / cover
    padding-top: 40px
    padding-bottom: 60px

    .container
      max-width: 800px
  +rmin($screen-md)
    .container
      max-width: 1500px
      width: auto
.steps-item
  max-width: 240px
  width: 100%
  display: inline-block
  vertical-align: top
  margin: 40px 10px
  position: relative
  .icon
    display: block
    width: 35px
    height: 35px
    margin: 0 auto
    position: relative
    img
      margin: auto
      top: 0
      bottom: 0
      left: 0
      right: 0
  &:last-child:before
    display: none
  &:before
    content: ''
    width: 45px
    height: 7px
    background-image: url(../images/arr-thin-right.png)
    position: absolute
    right: -40px
    top: 14px
    display: none
  h4
    font-size: 21px
    line-height: 1.19
    margin-bottom: 6px
    font-weight: 400
    margin-top: 10px
  p
    font-size: 18px
    line-height: 1.33
    line-height: 1.4
    margin-top: 0
    color: #2a2a2a
  .step-num
    font-size: 10px
    color: #ed1c24
    margin-top: 20px
    +exo(500)
  +rmin($screen-sm)
    min-height: 220px
    margin-left: 20px
    margin-right: 20px
    width: 230px
    .step-num
      position: absolute
      width: 100%
      text-align: center
      left: 0
      bottom: 0
  +rmin($screen-md)
    &:before
      display: block
/* end steps */

/* start packages */
.packages
  text-align: center
  padding: 30px 0 40px
  +rmin($screen-sm)
    padding-bottom: 80px
  .section-heading
    margin-bottom: 50px
  &-types
    background-color: #f7f7f7
    padding: 6px 0
    position: relative
    +rmin($screen-sm)
      padding-top: 26px
      padding-bottom: 26px
    +rmin($screen-md)
      .wrapper
        max-width: 560px
        margin: 0 auto
    +clr()
    .frame
      position: absolute
      width: 123px
      height: 142px
      background-image: url(../images/frame.png)
      top: -14px
      left: 0
      display: none
      z-index: 22
      +rmin($screen-sm)
        display: block
  &-tabs
    padding: 30px 0
    +rmin($screen-sm)
      display: inline-block
      width: 50%
      vertical-align: top
      margin-right: -4px
      padding: 0
    +rmin($screen-md)
      &:nth-child(1)
        position: relative
        &:after
          content: ''
          position: absolute
          right: 0
          top: 0
          background-color: #e6e6e6
          width: 1px
          height: 100%
          z-index: 20
        .packages-types .wrapper,
        .packages-tabs-slider
          float: right
          width: 100%
          padding-right: 80px
      &:nth-child(2)
        .packages-types .wrapper,
        .packages-tabs-slider
          float: left
          width: 100%
          padding-left: 80px
  &-tabs-slider
    +rmin($screen-md)
      max-width: 580px
      margin: 0 auto
.package
  &-type
    float: left
    vertical-align: top
    width: 50%
    float: left
    margin: 20px 0
    text-align: center
    padding: 0
    background-color: transparent
    padding-top: 33px
    position: relative
    border: none
    color: #949494
    transition: all 0.3s
    cursor: pointer
    +rmin($screen-sm)
      width: 25%
      margin-top: 0
      margin-bottom: 0
    &:focus
      outline: none
    &:hover
      color: black
    &.active
      color: #000
      &:before
        border: 6px solid white
      &:after
        border: 2px solid #ed1c24
    &:before, &:after
      content: ''
      transition: all 0.3s
      top: 0
      width: 24px
      height: 24px
      left: 50%
      margin-left: -12px
      padding: 0
      position: absolute
      border: 12px solid white
      background-color: #f10c28
      box-sizing: border-box
      border-radius: 50%
    &:after
      border: 1px solid #959595
      background: none
      transition: border 0.1s
    +rmin($screen-sm)
      font-size: 15px
  &-details
    padding-top: 20px
    +rmin($screen-md)
      text-align: left
    h3
      +exo(400)
      font-size: 23px
      color: #010101
      transition: all 0.3s 0.3s
      +rmin($screen-sm)
        text-align: left
        padding-left: 20px
        font-size: 23px
      +rmin($screen-md)
        padding-left: 48px
  &-list
    list-style: none
    padding: 0
    margin: 0
    li
      font-size: 18px
      text-align: left
      font-weight: 400
      padding: 6px 0
      +rmin($screen-md)
        padding-left: 34px
      &:nth-child(2n+1)
        background-color: #fdf0f1
      span
        padding: 0 30px 0 50px
        text-align: center
        position: relative
        transition: all 0.3s
        &:before
          content: ''
          position: absolute
          left: 20px
          top: 50%
          margin-top: -5px
          width: 10px
          height: 10px
          background-image: url(../images/check.png)
  &-price-block
    width: 290px
    height: 50px
    line-height: 48px
    border: 1px solid #bdbdbd
    border-radius: 30px
    margin-top: 40px
    font-size: 15px
    text-align: center
    margin: 40px auto 0
    display: inline-block
    text-decoration: none
    position: relative
    transition: all 0.3s
    +rmin($screen-md)
      margin-left: 48px
      margin-right: auto
    &:hover
      border-color: $color-red
      &:before
        transition-delay: 0.1s
        opacity: 1
        transform: none
      .package-price,
      .package-period
        transition-delay: 0s
        opacity: 0
        transform: translateY(10px)
    &:before
      content: 'Заказать'
      position: absolute
      left: 0
      top: 0
      height: 100%
      text-align: center
      width: 100%
      font-size: 17px
      line-height: 48px
      color: $color-red
      transition: all 0.3s
      opacity: 0
      transform: translateY(-10px)
    +rmin($screen-sm)
      width: 300px
      margin-left: 0
      margin-right: 0
  &-price, &-period
    transition: all 0.3s 0.1s
    display: inline-block
  &-price
    color: $color-red
    padding-right: 24px
    position: relative
    &:after
      content: ''
      position: absolute
      right: 0
      top: 50%
      width: 1px
      height: 16px
      margin-top: -8px
      background-color: #d9d9d9
  &-period
    padding-left: 24px
    color: #6d6d6d
/* end packages */

/* start projects */
.projects
  background-color: #272727
  color: white
  text-align: center
  position: relative
  +clr()
  +rmin($screen-md)
    text-align: left
    display: table
    width: 100%
    &:before
      content: ''
      position: absolute
      bottom: 131px
      width: 100%
      left: 0
      background-color: #313131
      height: 1px
  &-images
    position: relative
    height: 400px
    overflow: hidden
    +rmin($screen-md)
      height: 100%
      width: 30%
      display: table-cell
    +rmin(1000px)
      width: 50%
  .image-wrapper
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    &.first
      z-index: 20 !important
    &.second
      z-index: 19 !important
    &.active
      transition: all 1s
      transform: scale(1.2)
      opacity: 0
  &-image
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
  .section-heading
    color: #ed1c24
    margin-bottom: 10px
    line-height: 1
    padding-bottom: 20px
    position: relative
    &:before
      content: ''
      left: 50%
      width: 50px
      margin-left: -25px
      height: 3px
      background-color: #767676
      bottom: 0
      position: absolute
      +rmin($screen-md)
        left: 20px
        margin-left: 0
    +rmin($screen-sm)
      padding-top: 30px
    +rmin($screen-md)
      font-size: 47px
      padding-bottom: 40px
      padding-left: 20px
      margin-bottom: 40px
  &-showcase
    padding-left: 10px
    padding-right: 10px
    position: relative
    padding-top: 40px
    max-width: 600px
    margin: 0 auto
    +rmin($screen-sm)
      margin: 0 auto
    +rmin($screen-md)
      display: table-cell
      padding: 0 100px 0 30px
      text-align: left
      .inner
        max-width: 510px
        float: left
    +rmin(1250px)
      padding-left: 110px
  &-name
    font-size: 21px
    line-height: 1.15
    font-family: Calibri, 'Calibri Custom', sans-serif
    font-weight: 400
    margin-bottom: 6px
  .slide
    &.slick-active
      .projects-name
        transition-delay: 0.3s
      .projects-address
        transition-delay: 0.6s
      .text
        transition-delay: 0.9s
        opacity: .7
        transform: none
      .button
        transition-delay: 1.2s
      .projects-address, .projects-name, .button
        opacity: 1
        z-index: 200
        transform: none
    +rmin($screen-md)
      padding-left: 20px
  .text, .projects-address, .projects-name, .button
    transition: all 0.4s
    opacity: 0
    transform: translateX(20px)
  .text
    line-height: 1.5
    font-size: 18px
    opacity: 0
    font-weight: 400
    +rmin($screen-md)
      min-height: 210px
  &-address
    font-weight: 400
    font-size: 18px
    margin-top: 0
    font-weight: 400
    color: #dbdbdb
    position: relative
    display: block
    +rmin($screen-md)
      &:before
        content: ''
        width: 11px
        height: 15px
        background-image: url(../images/marker.svg)
        position: absolute
        left: -20px
        top: 50%
        margin-top: -7px
  &-circles
    padding: 10px 0
    position: relative
    +rmin($screen-md)
      margin-top: 70px
  .showcase-navigation
    margin: 0 auto
    text-align: center
    +rmin($screen-md)
      position: absolute
      left: auto
      top: 76px
      right: 30px
    a:before
      background-color: #7d7d7d
    a
      color: #7d7d7d
    a.active
      color: white
  .button
    margin-top: 40px
    .icon
      margin-top: -4px
.projects-circle
  position: relative
  width: 65px
  height: 65px
  display: inline-block
  margin: 20px 6px
  opacity: 0
  transition: all 0.2s
  transform: translateX(10px)
  canvas
    position: absolute
    left: 0
    top: 0
  &.active
    opacity: 1
    transition: all 0.6s
    transform: none
  .wrap
    position: absolute
    width: 100%
    height: 100%
    text-align: center
    padding-top: 18px
    top: 0
    left: 0
  .num, .caption
    display: block
  .num
    font-size: 12px
    color: $color-red
  .caption
    opacity: .7
    font-size: 10px
    position: relative
    top: -2px
/* end projects */

/* start order-action */
.order-action
  background-color: #b70d13
  color: white
  padding: 30px 0 60px
  text-align: center
  .section-heading
    color: white
    margin-bottom: 0
    +rmin($screen-md)
      font-size: 39px
  p
    font-size: 19px
    margin-top: 10px
    opacity: .8
  .button
    margin-top: 40px
    position: relative
    cursor: pointer
    .icon
      position: absolute
      right: 34px
      top: 50%
      margin-top: -7px
/* end order-action */

/* start team */
.team
  text-align: center
  padding: 20px 0 50px
  +rmin($screen-sm)
    padding-top: 50px
  .container
    max-width: 1048px
    width: 100%
    margin: 0 auto
  &-slider
    position: relative
    +rmin($screen-sm)
      padding-top: 80px
  &-person
    height: 0
    padding-bottom: 70%
    +rmin($screen-md)
      height: 356px
      padding-bottom: 0
  &-person-info
    padding-top: 30px
  &-person-name, &-person-work
    transition: all 0.3s
    opacity: 0
    transform: translateY(10px)
  &-person-name
    font-size: 24px
    +rmin($screen-sm)
      font-size: 28px
  &-person-work
    font-size: 17px
    +rmin($screen-sm)
      font-size: 20px
  .slick-current
    .team-person-name,
    .team-person-work
      opacity: 1
      transform: none
    .team-person-name
      transition-delay: 0.3s
    .team-person-work
      transition-delay: 0.5s
    .team-person-work
      opacity: .7
  .svg-frame
    width: 782px
    position: absolute
    left: 50%
    top: 10px
    z-index: 10
    transform: translateX(-50%)
    display: none
    pointer-events: none
    +rmin(1200px)
      display: block
    svg
      transition: all 1s
      opacity: 0
      path
        fill: transparent !important
        stroke: #f10c28 !important
        transition: fill 0.3s
      &.showing
        opacity: 1
      &.finished
        path
         fill: #f10c28 !important

.team-inner
  +rmin($screen-sm)
    padding-bottom: 80px
  .section-heading
    max-width: 480px
    margin: 0 auto
    padding-bottom: 30px
    position: relative
    +rmin($screen-sm)
      margin-bottom: 30px
    &:after
      content: ''
      position: absolute
      width: 184px
      height: 3px
      background-color: #272727
      opacity: .5
      left: 50%
      bottom: 0
      margin-left: -87px
  p
    +rmin($screen-sm)
      font-size: 18px
      line-height: 1.4
  .team-why-us
    +rmin($screen-sm)
      margin: 120px 0 0
  .team-slider
    +rmin($screen-sm)
      margin-top: 30px
/* end team */
.arrows-container
  position: absolute
  width: 100%
  bottom: 18px
  left: 0
  padding-left: 10px
  padding-right: 10px
  display: none
  +rmin($screen-md)
    display: block
  .slider-arrows
    max-width: 904px
    margin: 0 auto
    +clr()
  .arr-left, .arr-right
    background-color: transparent
    padding: 0
    border: none
    position: relative
    z-index: 10
    cursor: pointer
    display: inline-block
    width: 181px
    height: 30px
    background: url(../images/arr-left-long.png) no-repeat center
    opacity: .4
    transition: all 0.3s
    float: left
    &:hover
      opacity: 1
    &.slick-disabled
      opacity: .3
      cursor: normal
    &:focus
      outline: none
  .arr-right
    float: right
    background-image: url(../images/arr-right-long.png)

/* start news */
.news
  text-align: center
  padding: 40px 0 70px
  .container
    max-width: 1430px
    margin: 0 auto
    width: 100%
  &-item
    max-width: 300px
    margin: 40px auto
    text-align: left
    display: block
    text-decoration: none
    &:hover
      .news-item-title
        color: $color-red
    +rmin($screen-sm)
      display: inline-block
    &-title
      font-size: 20px
      font-weight: 400
      line-height: 1.4
      position: relative
      padding-bottom: 24px
      transition: all 0.3s
      &:before
        content: ''
        position: absolute
        background-color: #ed1c24
        bottom: 0
        left: 0
        width: 50px
        height: 3px
      +rmin($screen-sm)
        font-size: 23px
    &-text
      font-size: 15px
      line-height: 1.56
      opacity: .8
      +rmin($screen-sm)
        font-size: 18px
        height: 108px
        overflow: hidden
  .button
    margin-top: 30px
.date
  display: inline-block
  position: relative
  +exo(600)
  &:before
    content: ''
    background-color: #f10c28
    position: absolute
    width: 42px
    height: 42px
    border-radius: 50%
    top: 12px
    left: 17px
  &-month, &-day
    position: relative
    z-index: 1
    line-height: 1
  &-month
    font-size: 39px
    font-weight: 600
  &-day
    color: white
    margin-left: 36px
    margin-top: -7px
/* end news */

/* start map-wrapper */
.map-wrapper
  height: 300px
  position: relative
  +rmin($screen-sm)
    height: 367px
  .google-map
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
  &-large
    +rmin($screen-md)
      height: 670px
/* end map-wrapper */

/* start worktypes */
.worktypes
  text-align: center
  padding: 30px 0
  .container
    max-width: 1430px
    width: 100%
    margin: 0 auto
  &-item
    padding-bottom: 0
    margin: 30px 0
    +rmin($screen-sm)
      width: 280px
      margin-left: 0
      margin-right: -4px
    +rmin($screen-md)
      position: relative
      &:last-child
        &:after
          display: none
      &:after
        content: ''
        position: absolute
        top: 50%
        right: 0
        height: 86px
        width: 1px
        background-color: #e1e1e1
        margin-top: -63px

/* end worktypes */

.layout
  &-popups
    min-height: 1000px
  &-contact
    padding-top: 20px
/* start popup-styles */
.popup
  max-width: 910px
  position: relative
  background-color: white
  margin: 10px auto 0
  &-success
    .popup-header
      padding-bottom: 24px
    .popup-content
      text-align: center
      margin: 0 auto
      h4
        font-size: 19px
        font-weight: 400
        margin-bottom: 10px
        margin-top: 0
        +rmin($screen-sm)
          font-size: 26px
      p
        font-size: 17px
        line-height: 1.2
        font-weight: 300
        opacity: .9
        margin: 0
        +rmin($screen-sm)
          font-size: 21px
  +r(767px)
    h4
      font-size: 18px
    p
      font-size: 15px
      span
        display: block
  +r(767px)
    width: 95%
  &-close
    position: absolute
    top: 19px
    right: 22px
    z-index: 4
    width: 16px
    height: 16px
    background-color: transparent
    padding: 0
    border: none
    cursor: pointer
    transition: all 0.3s
    &:focus
      outline: none
    &:hover:before
      opacity: 0
    &:hover:after
      opacity: 1
    &:before, &:after
      content: ''
      opacity: 1
      background: url(../images/cross.png) no-repeat center
      left: 0
      top: 0
      width: 100%
      height: 100%
      transition: all 0.3s
      position: absolute
    &:after
      opacity: 0
      background-image: url(../images/cross-white.png)
  &:focus
    outline: none
  &:hover
    opacity: 1
  &-header
    background-color: #b70d13
    color: white
    text-align: center
    padding: 20px 10px 20px
    h3
      color: white
      font-size: 18px
      font-weight: 400
      margin-bottom: 0
      margin-top: 0
      +exo(600)
      +rmin($screen-sm)
        font-size: 39px
    p
      font-size: 15px
      font-weight: 400
      max-width: 550px
      margin: 4px auto
      span
        font-weight: 700
        margin-left: 4px
      +rmin($screen-sm)
        font-size: 19px
  &-content
    padding-top: 20px
    padding-bottom: 30px
    padding-left: 15px
    padding-right: 15px
    +rmin($screen-sm)
      padding: 36px 10px 58px
  &-form
    max-width: 720px
    margin: 0 auto
    .row
      margin-left: -5px
      margin-right: -5px
      > div
        padding-left: 5px
        padding-right: 5px
    &-bottom
      margin-top: 20px
      text-align: center
      position: relative
      .button
        display: block
        margin: 0 auto
    &-caption
      display: block
      margin-bottom: 20px
      font-size: 18px
      color: rgba(#232323, .6)
      display: inline-block
      position: relative
      &:before
        content: '*'
        position: absolute
        top: 0
        left: -12px
        color: #b70d13
        font-size: 16px

/* start input-block */
.input-block
    width: 100%
    border: 1px solid #d6d6d6
    box-sizing: border-box
    border-radius: 5px
    position: relative
    font-size: 15px
    margin: 5px 0
    display: table
    +r(767px)
        border: none
        margin: 16px 0
    span
        position: relative
        display: table-cell
        vertical-align: top
        width: 1%
        white-space: nowrap
        box-sizing: content-box
        left: 20px
        top: 0
        color: #2a3341
        height: 52px
        line-height: 53px
        font-size: 18px
        padding-right: 20px
        z-index: 1
        .required
            font-size: 16px
            font-style: normal
            color: #b70d13
            margin-left: 4px
        &:after
            content: ''
            position: absolute
            right: 0
            top: 11px
            height: 30px
            width: 1px
            background-color: #b3b3b3
        +r(767px)
            position: static
            display: block
            margin-bottom: 8px
            height: auto
            line-height: 1
            width: 100%
            &:after
                display: none
    +r(767px)
        border: none
    input, textarea
        height: 52px
        border: none
        display: table-cell
        vertical-align: top
        width: 100%
        box-sizing: border-box
        font-size: 15px
        padding-right: 16px
        padding-left: 30px
        border-radius: 20px
        background-color: transparent
        &:focus
            outline: none
        +r(767px)
            border: 1px solid #b2b2b2
            border-radius: 5px
            padding-left: 16px
            font-size: 14px
            display: block
    textarea
        resize: none
        vertical-align: top
        height: 108px
        padding-top: 17px
        +r(767px)
            padding-top: 8px
/* end input-block */

.contact-inner
  text-align: center
  padding-bottom: 40px
  .container
    max-width: 1400px
    width: 100%
  .button
    .icon
      margin-top: -1px
      img
        transition: all 0.3s
    &.active
      img
        transform: rotate(180deg)
.contact-group
  text-align: center
  padding-bottom: 30px
  position: relative
.contact-item
  display: inline-block
  margin: 30px 0
  text-align: center
  text-decoration: none
  text-align: center
  +rmin($screen-sm)
    margin: 10px 0
  h3
    font-size: 23px
    font-weight: 400
    line-height: 1.2
    font-weight: 400
    transition: color 0.3s
    +rmin($screen-sm)
      font-size: 21px
  .icon
    width: 60px
    height: 60px
    position: relative
    background-color: #f10c28
    transition: all 0.3s
    border-radius: 50%
    margin: 0 auto
    svg
      position: absolute
      margin: auto
      left: 0
      right: 0
      top: 0
      bottom: 0
      path
        fill: white
  h3
    font-size: 23px
    font-weight: 400
    padding-bottom: 20px
    margin-top: 16px
    position: relative
    &:after
      content: ''
      width: 100px
      height: 1px
      background-color: #d6d6d6
      position: absolute
      left: 50%
      bottom: 0
      margin-left: -50px
  p
    font-size: 18px
    margin-top: 4px
    margin-bottom: 4px

.mail
  color: #de0c14
  text-decoration: none

/* start requisites */
.requisites
  padding: 30px 0 20px
  text-align: center
  position: relative
  display: none
  &:before
    content: ''
    position: absolute
    width: 1300px
    height: 1px
    margin-left: -650px
    left: 50%
    top: 0
    background-color: #d4d4d4
  &-list
    padding: 0
    list-style: none
    max-width: 290px
    margin: 0 auto
    li
      margin: 12px 0
      line-height: 1.4
/* end requisites */

.useful-info
  .container
    max-width: 1320px
    width: 100%
    .row > div
      +rmin($screen-sm)
        &:nth-child(2n+1)
          clear: left
  &-item
    border: 1px solid #c3c3c3
    display: block
    text-align: center
    text-decoration: none
    .top, .bottom
      padding: 15px
    .bottom
      background-color: #f7f7f7

.useful-info
  padding-bottom: 20px
  &-item
    border: 1px solid #c3c3c3
    display: block
    text-align: center
    text-decoration: none
    margin: 0 0 20px
    +rmin($screen-md)
      position: relative
      margin: 20px 0
      &:after
        content: ''
        width: 252px
        height: 308px
        background: url(../images/frame-left.png) no-repeat center / 100% 100%
        position: absolute
        left: -15px
        top: -12px
        transition: all 0.3s
        opacity: 0
        transform: translateX(-20px)
    &:hover
      &:after
        opacity: 1
        transform: none
      .bottom
        background-color: #fdf0f1
    .top, .bottom
      padding: 15px
      +rmin($screen-md)
        padding-left: 42px
        padding-right: 32px
        text-align: left
    .top
      padding-top: 0
      +rmin($screen-md)
        padding-top: 20px
        padding-bottom: 10px
    .bottom
      background-color: #f7f7f7
      transition: all 0.3s
      color: #ed1c24
      font-size: 17px
      padding-top: 20px
      padding-bottom: 15px
      +rmin($screen-md)
        padding-left: 270px
    .image
      border-bottom: 1px solid #f3f3f3
      padding-bottom: 10px
      height: 120px
      position: relative
      img
        position: absolute
        left: 0
        top: 0
        bottom: 0
        right: 0
        margin: auto
        max-width: 90%
        max-height: 90%
      +rmin($screen-md)
        float: left
        width: 188px
        padding-right: 15px
        border-bottom: 0
        border-right: 1px solid #e7e7e7
        padding-top: 10px
        text-align: left
        img
          position: static
          max-width: 100%
          max-height: 100%
    .content
      padding: 20px 0 10px
      opacity: .9
      line-height: 1.33
      +rmin($screen-sm)
        font-size: 16px
      +rmin($screen-md)
        font-size: 18px
        overflow: hidden
        padding-left: 42px
        text-align: left
        padding-top: 10px
    .content, .image
      +rmin($screen-md)
        min-height: 188px
  .inner
    position: relative
    padding-right: 40px
    display: inline-block
    max-width: 100%
    white-space: nowrap
    &:after, &:before
      content: ''
      width: 30px
      height: 30px
      background: white url(../images/arr-right.png) no-repeat center
      position: absolute
      top: 50%
      margin-top: -15px
      right: 0
      transition: all 0.3s
      z-index: 1
      border-radius: 50%
      box-shadow: 0 5px 2px rgba(234, 234, 234, 0.75)
      border: 1px solid #bdbdbd
    &:before
      opacity: 1
    &:after
      opacity: 0
      background-image: url(../images/arr-right-hover.png)
  &-url
    display: block
    width: 100%
    text-overflow: ellipsis
    overflow: hidden
    &:before
      content: ''
      display: inline-block
      width: 12px
      height: 12px
      vertical-align: middle
      background-image: url(../images/link.png)
      margin-right: 8px

/* start questions */
.questions
  background-color: #b70d13
  color: white
  padding: 50px 0 60px
  text-align: center
  .mailto
    display: inline-block
    position: relative
    text-decoration: none
    &:hover
      &:after
        display: none
    span
      position: relative
      z-index: 1
    &:after
      content: ''
      position: absolute
      left: 0
      bottom: 3px
      width: 100%
      background-color: white
      opacity: .4
      height: 1px
  +rmin($screen-sm)
    background: #b70d13 url(../images/questions-bg.jpg) no-repeat center / cover
    padding-top: 60px
    padding-bottom: 40px
  .section-heading
    color: white
    margin-bottom: 6px
    margin-top: 0
  p
    margin-top: 0
    +rmin($screen-sm)
      font-size: 19px
  &-block
    margin: 40px 0
    +rmin($screen-sm)
      display: inline-block
      margin-left: 0
      margin-right: 0
      width: 300px
    +rmin($screen-md)
      width: 400px
      position: relative
      &:after
        content: ''
        right: 0
        top: 30px
        background-color: white
        height: 133px
        width: 1px
        position: absolute
        opacity: .45
      &:last-of-type:after
        display: none
    .icon
      width: 140px
      height: 140px
      position: relative
      background-color: white
      border-radius: 50%
      margin: 0 auto 8px
      svg
        position: absolute
        margin: auto
        top: 0
        bottom: 0
        left: 0
        right: 0
        width: 30px
        height: 30px
    .text
      margin: 10px 0 -4px
      font-size: 18px
      opacity: .8
      &-large
        font-size: 26px
        +exo(400)
/* end questions */

/* start about-slider: */
.about-slider
  color: white
  display: table
  height: 558px
  table-layout: fixed
  width: 100%
  background: #3b3b3b url(../images/about-slider-img.jpg) no-repeat fixed center / cover
  text-align: center
  display: none
  +rmin($screen-sm)
    display: table
  .container
    display: table-cell
    vertical-align: middle
    width: 100%
  .slide-mega-word
    +exo(600)
    line-height: 0.8
    font-size: 20vw
    position: absolute
    margin: auto
    right: 0
    bottom: 0
    left: 0
    top: 0
    text-align: center
    width: 100%
    transition: all .9s 0.3s
    transform: scale(0.5)
    text-transform: uppercase
    opacity: .4
    white-space: nowrap
  .slide
    position: relative
    opacity: 0
  .slick-list
    overflow: visible
  .inner
    max-width: 800px
    margin: 0 auto
    position: relative
    z-index: 1
  h2
    padding-bottom: 24px
    position: relative
    transition: all 0.4s 1s
    opacity: 0
    transform: translateY(20px)
  .separator
    height: 4px
    left: 50%
    bottom: 0
    width: 10px
    background-color: $color-red
    transition: all 1s 1.4s
    opacity: 0
    display: block
    margin: -40px auto 20px
  .text
    font-size: 17px
    opacity: 0
    transform: translateY(20px)
    transition: all 0.4s 1.8s
  .slider-pagination
    text-align: center
    margin-top: 60px
    .arr-left, .arr-right
      background-color: transparent
      padding: 0
      border: none
      position: relative
      z-index: 10
      cursor: pointer
      display: inline-block
      width: 27px
      height: 27px
      background: url(../images/arr-small-left.png) no-repeat center
      opacity: .25
      transition: all 0.3s
      padding: 0 20px
      vertical-align: middle
      &:hover
        opacity: 1
      &.slick-disabled
        opacity: .1
        cursor: normal
      &:focus
        outline: none
    .arr-right
      background-image: url(../images/arr-small-right.png)
    .num
      height: 27px
      line-height: 27px
      display: inline-block
      vertical-align: middle
      padding: 0 14px
      &-current
        border-right: 1px solid #3e3e3e
        color: #767575
      &-max
        color: #555555
  +rmin($screen-sm)
    height: 658px
    h2
      font-size: 43px
  .text
    font-size: 23px
  .slide-animated
    .slide-mega-word
      opacity: 0.03
      transform: none
    h2, .text
      transform: none
      opacity: 1
    h2:after
      transition: all 0.3s 1s
      opacity: 1
      width: 124px
      transform: none
    .separator
      opacity: 1
      width: 124px
/* end about-slider: */

.red
  color: $color-red

/* start about-services */
.about-services
  background-color: #ededed
  padding: 20px 0
  text-align: center
  .container
    max-width: 100%
    width: auto
  +rmin($screen-md)
    padding-top: 0
  &-item
    text-align: center
    width: 49%
    vertical-align: top
    display: inline-block
    margin: 20px 0
    padding: 0 10px
    +rmin($screen-sm)
      width: 240px
      margin: 20px
    +rmin($screen-md)
      margin-top: -30px
      margin-bottom: 40px
    .circle
      width: 60px
      height: 60px
      border-radius: 50%
      background-color: $color-red
      line-height: 60px
      margin: 0 auto 20px
      color: white
      font-size: 14px
      +exo(500)
    .text-gray, .text
      margin: 2px 0
      line-height: 1.28
    .text-gray
      color: #232323
/* end about-services */

.licences
  padding: 30px 0
  text-align: center
.licence-item
  margin: 40px 20px
  display: inline-block
  position: relative
  vertical-align: top
  width: 155px
  height: 215px
  border: 1px solid #d0d0d0
  +rmin($screen-md)
    margin-left: 60px
    margin-right: 60px
  &:focus
    outline: none
  +rmin($screen-sm)
    margin-top: 20px
  &:hover
    img
      filter: none
    .icon
      border-color: $color-red
    svg
      path
        fill: $color-red
  img
    display: block
    filter: grayscale(100%)
    transition: all 0.3s
    position: absolute
    margin: auto
    top: 0
    bottom: 0
    right: 0
    left: 0
    max-width: 98%
    max-height: 98%
  .icon
    width: 50px
    height: 50px
    border: 1px solid #aeaeae
    border-radius: 50%
    position: absolute
    bottom: -25px
    right: -25px
    background-color: white
    transition: all 0.3s
    &:focus
      outline: none
    svg
      position: absolute
      top: 0
      bottom: 0
      right: 0
      left: 0
      margin: auto
      path
        transition: all 0.3s

.service-mega-block
  +rmin($screen-sm)
    background: url(../images/service-bg1.jpg) no-repeat center / cover
    min-height: 595px
  .container
    padding: 0
    +rmin($screen-sm)
      padding-left: 15px
      padding-right: 15px

.order-action-inner
  padding: 20px 10px 30px
  position: relative
  +rmin($screen-sm)
    margin-top: 100px
  &:before
    content: ''
    position: absolute
    width: 3000px
    left: -2990px
    height: 100%
    top: 0
    background-color: #b70d13
  .section-heading
    +rmin($screen-sm)
      font-size: 31px
      margin-top: 16px
  p
    opacity: .8
    +rmin($screen-sm)
      width: 350px
      font-size: 19px
  .input-centered
    +rmin($screen-sm)
      text-align: left
  +rmin($screen-sm)
    min-height: 390px
    max-width: 588px
    text-align: left
    .wrapper
      max-width: 470px

.layout-service
  padding-top: 10px
  .container
    position: relative
    .layout-heading
      +rmin($screen-sm)
        max-width: 80%
        margin-left: auto
        margin-right: auto

.link-back
  position: relative
  padding-left: 40px
  text-decoration: none
  position: absolute
  right: 15px
  top: 47px
  display: none
  +rmin($screen-sm)
    display: block
  &:hover
    span
      opacity: 1
  span
    opacity: .5
    transition: all 0.3s
  &:hover:before
    opacity: 0
  &:hover:after
    opacity: 1
  &:after, &:before
    content: ''
    width: 30px
    height: 30px
    background: white url(../images/arr-right.png) no-repeat center
    position: absolute
    top: 50%
    margin-top: -15px
    left: 0
    transform: scale(-1)
    transition: all 0.3s
    z-index: 1
    border-radius: 50%
    // box-shadow: 0 5px 2px rgba(234, 234, 234, 0.75)
    border: 1px solid #bdbdbd
  &:before
    opacity: 1
  &:after
    opacity: 0
    background-image: url(../images/arr-right-hover.png)

/* start service-dark-desc */
.service-dark-desc
  background-color: #272727
  color: white
  overflow: hidden
  text-align: center
  padding: 40px 0 60px
  line-height: 1.5
  .container
    max-width: 1060px
    width: 100%
    margin: 0 auto
  .heading
    font-size: 23px
    font-weight: 400
    line-height: 1.4
    position: relative
    padding-bottom: 30px
    margin-bottom: 40px
    &.aos-animate:after
      width: 185px
      opacity: 1
    &:after
      content: ''
      position: absolute
      left: 50%
      opacity: 0
      bottom: 0
      width: 3px
      height: 3px
      background-color: #767676
      transform: translateX(-50%)
      transition: all 0.6s .6s

/* end service-dark-desc */

.gray
  color: #b3b3b3

.dark
  color: #636363

.small
  font-size: 14px
  +rmin($screen-sm)
    font-size: 15px

.static-content
  line-height: 1.5
  padding: 20px 0
  .container
    max-width: 1280px
    width: 100%
    margin: 0 auto

.table-responsive
  width: 100%
  overflow: auto
  margin: 20px 0

.custom-table
  min-width: 600px
  width: 100%
  border-collapse: collapse
  +rmin($screen-sm)
    min-width: 100%
  thead th
    opacity: .6
    text-align: left
    padding: 10px 0 20px
    border: none
    border-bottom: 3px solid #6d6d6d
    font-weight: 400
    +rmin($screen-md)
      padding: 10px 10px 20px
    &:first-child
      +rmin($screen-md)
        padding-left: 45px
      span
        border-left: 0
    span
      position: relative
      line-height: 1
      display: inline-block
      +rmin($screen-md)
        padding-left: 20px
        border-left: 1px solid rgba(black, 0.6)
  td
    text-align: left
    vertical-align: middle
    border: none
    +rmin($screen-sm)
      vertical-align: top
  > tbody > tr
    &:not(:last-child)
      border-bottom: 1px solid #e5e5e5
    > td
      padding: 20px 0 20px 0
      +rmin($screen-sm)
        padding-top: 30px
        padding-bottom: 30px
      span
        display: block
        border-bottom: 1px solid #e9e9e9
        padding: 10px 0
        font-size: 15px
        color: rgba(black, .8)
        +rmin($screen-md)
          padding-left: 30px
        &:first-child
          padding-top: 0
        &:last-child
          border-bottom: 0
          padding-bottom: 0
      &:first-child
        width: 200px
        padding-right: 20px
        +rmin($screen-sm)
          width: 400px
          padding-right: 40px
        +rmin($screen-md)
          width: 500px
          padding-left: 66px
      &:last-child
        width: 80px
        text-align: center
        color: rgba(black, .8)
        +rmin($screen-md)
          width: 150px
          text-align: left
          padding-left: 30px
    &:hover
      background-color: #f7f7f7
      > td:first-child
        color: $color-red


.plan-for
  text-align: center
  padding: 30px 0
  background-color: #f1f1f1
  .container
    max-width: 1280px
    width: 100%
    margin: 0 auto
  .section-heading
    margin-bottom: 2px
  p
    margin: 0
    padding-bottom: 30px
    +exo(400)
    &.aos-animate:after
      width: 185px
      opacity: 1
    &:after
      content: ''
      position: absolute
      left: 50%
      opacity: 0
      bottom: 0
      width: 3px
      height: 3px
      background-color: $color-red
      transform: translateX(-50%)
      transition: all 0.6s .6s
    +rmin($screen-sm)
      font-size: 23px
      line-height: 1.4
  &-item
    text-align: center
    width: 49%
    vertical-align: top
    display: inline-block
    margin: 50px 0
    padding: 0 10px
    position: relative
    +rmin($screen-sm)
      width: 240px
      margin: 20px
    +rmin($screen-md)
      margin-top: 40px
      margin-bottom: 40px
      width: 300px
      margin-left: 0
      margin-right: 0
      font-size: 17px
      &:nth-child(4),
      &:last-child
        &:after
          display: none
      &:after
        content: ''
        position: absolute
        right: 0
        top: 40px
        background-color: #cecece
        height: 56px
        width: 1px
    .circle
      width: 60px
      height: 60px
      border-radius: 50%
      background-color: $color-red
      line-height: 60px
      margin: 0 auto 20px
      color: white
      font-size: 14px
      +exo(500)
    .text-gray, .text
      margin: 2px 0
      line-height: 1.28
    .text-gray
      color: #232323


.other-services
  padding: 30px 0
  text-align: center
  +rmin($screen-sm)
    padding-bottom: 80px
  .container
    max-width: 1680px
    width: auto

.layout-services
  .container
    max-width: 1715px
    width: 100%
    margin: 0 auto

.services-block-group
  text-align: center

.service-block-item
  max-width: 335px
  margin: 12px auto
  display: inline-block
  text-align: left
  border: 3px solid transparent
  text-decoration: none
  transition: all 0.3s
  vertical-align: top
  &:hover
    border: 3px solid $color-red
    .bottom
      background-color: #fdf0f1
      &:before
        transition-delay: 0s
        transform: translateX(100px)
      span
        transition: all 0.3s 0.3s
        opacity: 1
  .wrapper
    padding: 8px
  .content
    padding-left: 30px
    padding-right: 20px
    padding-bottom: 20px
  h4
    font-size: 22px
    line-height: 1.2
    color: #010101
    font-weight: 400
    margin-bottom: 16px
  .text
    font-size: 18px
    line-height: 1.33
    opacity: .8
    margin-top: 0
    margin-bottom: 0
    height: 94px
    overflow: hidden
  .service-img
    height: 195px
    width: 100%
  .bottom
    height: 70px
    line-height: 70px
    transition: all 0.3s
    position: relative
    padding-left: 40px
    span
      opacity: 0
      transition: all 0.3s
      color: $color-red
    &:before
      content: ''
      width: 30px
      height: 30px
      background: white url(../images/arr-right.png) no-repeat center
      position: absolute
      top: 50%
      margin-top: -15px
      left: 40px
      transition: all 0.3s
      z-index: 1
      border-radius: 50%
      border: 1px solid #bdbdbd
      transition: all 0.3s 0.3s
    &:after
      content: ''
      position: absolute
      height: 1px
      left: 40px
      width: 164px
      background-color: #f3f3f3
/* start pagination */
.pagination
  border-radius: 50px
  border: 1px solid #bdbdbd
  display: block
  height: 49px
  line-height: 44px
  position: relative
  min-width: 220px
  text-align: center
  margin: 50px auto 0
  max-width: 230px
  .nums
    display: inline-block
    vertical-align: middle
    margin-left: 14px
    margin-right: 14px
    padding-left: 10px
    padding-right: 10px
    position: relative
    &:before, &:after
      content: ''
      position: absolute
      left: 0
      top: 50%
      width: 1px
      height: 26px
      margin-top: -13px
      background-color: black
      opacity: .3
    &:after
      right: 0
      left: auto
  .num
    padding: 0 10px
    display: inline-block
    vertical-align: top
    color: #646464
  .arr-left, .arr-right
    background-color: red
    border: none
    position: relative
    z-index: 10
    cursor: pointer
    display: inline-block
    width: 27px
    height: 27px
    background: url(../images/arr-left-dark.png) no-repeat center
    opacity: .4
    transition: all 0.3s
    vertical-align: middle
    &:hover
      opacity: 1
    &.slick-disabled
      opacity: .7
      cursor: normal
    &:focus
      outline: none
  .arr-right
    background-image: url(../images/arr-right-dark.png)
/* end pagination */

.layout-services
  +rmin($screen-sm)
    padding-bottom: 40px
