//BEGIN footer
footer.site-footer
  .header.header-bottom
    .container
        a.header-center(href="#")
          .logo
            img(src="images/logo.png" alt="Центр Геодезии и Кадастра")
          .logo-caption
            | ЦЕНТР
            br
            | ГЕОДЕЗИИ 
            br
            | И КАДАСТРА
        a.mobile-trigger-wrap
          span.mobile-trigger
        .header-left
          .header-contact-left
            img.icon-marker(src="images/marker.svg" alt="Маркер")
            p г. Москва, #[span Фрунзенская набережная, д .8]
        .header-right
          .header-contact-left
            a.header-mail(href="mailto:info@cntgeo.ru") info@cntgeo.ru
            a.header-phone(href="phoneto:+7(495)6438588") +7 (495) 643 85 88  
        nav.main-nav
          .inner
            .left
              a(href="") О компании
              a(href="") Наши услуги и цены
            .right
              a(href="") Полезная информация
              a(href="") Контакты
  .footer-bottom
    .container
      a.button.button-red.popup-link(href="#") 
        span Заказать звонок
        span.icon
          include ../data/phone.svg
      .copyright © Центр геодезии и кадастра
      .made-by Разработка сайта — #[a Liqium]
//END footer
