//BEGIN header
header.header(class=headerInner ? 'header-inner' : '')
  .container
      a.header-center(href="#")
        .logo
          img(src="images/logo.png" alt="Центр Геодезии и Кадастра")
        .logo-caption цель. гарантия. качество
      a.mobile-trigger-wrap
        span.mobile-trigger
      .header-left
        .header-contact-left
          img.icon-marker(src="images/marker.svg" alt="Маркер")
          p г. Москва, #[span Фрунзенская набережная, д .8]
      .header-right
        if (headerInner)
          .popup-icons
            a.popup-link.popup-icon(href="#popup-call")
              include ../data/envelope.svg
            a.popup-link.popup-icon(href="#popup-callback")
              include ../data/phone.svg
        .header-contact-left
          a.header-mail(href="mailto:info@cntgeo.ru") info@cntgeo.ru
          a.header-phone(href="phoneto:+7(495)6438588") +7 (495) 643 85 88  
      include nav
//END header
