//BEGIN header
header.header
  .container
      .header-left
        .header-contact-left
          img(src="images/marker.svg")
          p г. Москва, Фрунзенская набережная, д. 8
      .header-right
        .header-contact-left
          a.header-mail(href="mailto:info@cntgeo.ru") info@cntgeo.ru
          a.header-phone +7 (495) 643 85 88  
      nav.main-nav
        .left
          a(href="") О компании
          a(href="") О компании Наши услуги и цены
        .right
          a(href="") Полезная информация
          a(href="") Контакты
//END header
