//BEGIN header
header.header
  .container
      .header-center
        .logo
          img(src="images/logo.png")
      a.mobile-trigger-wrap
        span.mobile-trigger
      .header-left
        .header-contact-left
          img.icon-marker(src="images/marker.svg")
          p г. Москва, #[span Фрунзенская набережная, д .8]
      .header-right
        .header-contact-left
          a.header-mail(href="mailto:info@cntgeo.ru") info@cntgeo.ru
          a.header-phone(href="phoneto:+7 (495) 643 85 88") +7 (495) 643 85 88  
      nav.main-nav
        .inner
          .left
            a(href="") О компании
            a(href="") Наши услуги и цены
          .right
            a(href="") Полезная информация
            a(href="") Контакты
//END header
