//- title: Index Page
extends layouts/_layout-inner
block head
  - var title = 'Popups'
  - var n = 0
  - var i = 0
  - var servicesTextArr = ['Технический <br/> план', 'Межевой<br/>план', 'Акт<br/> обследования', 'Выписки<br/> из ЕГРН', 'Геодезическая<br/> съемка и обмеры', 'Схема расположения<br/>земельного участка', 'Исправление<br/> реестровых ошибок', 'Проектная<br/> документация', ' Кадастровый учет<br/> и регистрация прав', 'Юридические<br/> услуги']
  - var worktypesTextArr = ['Земельные <br/> участки', 'Здания <br/> и сооружения', 'Нежилые <br/> помещения', 'Квартиры <br/> и комнаты',  'Юридические <br/> услуги']
block content
  // start layout
  .layout.layout-popups
    h1 Попапы
  // end layout
